<mat-card class="step-four">
  <mat-card-header>
    <mat-card-title-group class="title">
      <mat-card-title role="heading" aria-level="1">Finishing up</mat-card-title>
      <mat-card-subtitle role="heading" aria-level="2">Double-check everything looks OK before
        confirming.</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="formValue$ | async as formValue">
      <table>
        <th>
          <tr>
            <div class="type">{{formValue.planDetails.plan | titlecase}} ({{formValue.planDetails.duration |
              titlecase}})
              <button mat-button class="btn-change" (click)="changePlan()">Change</button>

            </div>
            <div class="cost">${{formValue.planDetails.planCost}}/{{formValue.planDetails.duration === 'monthly' ? 'mo'
              : 'yr'}}</div>
          </tr>
        </th>
        <mat-divider></mat-divider>

        <ng-container *ngIf="formValue.addOnDetails.service">
          <tr>
            <div class="service">Online Service </div>
            <div class="service_cost"> +${{formValue.addOnDetails.serviceCost }}/{{formValue.planDetails.duration ===
              'monthly' ? 'mo' :
              'yr'}}</div>
          </tr>
        </ng-container>
        <ng-container *ngIf="formValue.addOnDetails.storage">
          <tr>
            <div class="service">
              Larger Storage </div>
            <div class="service_cost"> +${{formValue.addOnDetails.storageCost}}/{{formValue.planDetails.duration ===
              'monthly' ? 'mo' :
              'yr'}}</div>
          </tr>
        </ng-container>
        <ng-container *ngIf="formValue.addOnDetails.customization">
          <tr>
            <div class="service">
              Customizable Profile </div>
            <div class="service_cost"> +${{formValue.addOnDetails.customizationCost}}/{{formValue.planDetails.duration
              === 'monthly' ?
              'mo'
              :
              'yr'}}</div>
          </tr>
        </ng-container>
      </table>

      <div class="total">
        <div>Total (per {{formValue.planDetails.duration === 'monthly' ? 'month' :
          'year'}})</div>
        <div class="cost">${{formValue.planDetails.totalCost }}/{{formValue.planDetails.duration === 'monthly' ? 'mo' :
          'yr'}}</div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<app-stepper-buttons [nextButtonText]="'Confirm'" [hasBackStep]="hasBack()" [hasNextStep]="hasNext()"
  (onStepGoBack)="goToBackStep()" (onStepGoNext)="submit()">
</app-stepper-buttons>